<div class="container">
        <div class="fb-profile">
            <img align="left" class="fb-image-lg" src="../../assets/images/profileImg/profile-cover.jpg" alt="Profile image example"/>
            <img align="left" class="fb-image-profile thumbnail" src="../../assets/images/userImg/user-5.jpg" alt="Profile image example"/>
            <div class="fb-profile-text">
                <h1>{{userData.name}}</h1>
                <p class="username">@{{userData.username}}</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i>{{userData.phone}}</p>
            </div>
        </div>
</div> 